body { background: #3e2a7c; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 53px; display: flex; }
.block-notify-0 { color: #4f35fc; font-size: 21px; margin-bottom: 5px; }
.block-payment-1 { color: #9e932c; font-size: 13px; margin-bottom: 5px; }
.block-user-2 { color: #fcb9da; font-size: 16px; margin-bottom: 5px; }
.block-auth-3 { color: #543cf8; font-size: 12px; margin-bottom: 5px; }
.block-router-4 { color: #664a97; font-size: 15px; margin-bottom: 5px; }